[user]
	name = Stu Field
	email = stu.g.field@gmail.com
[core]
	excludefile = /Users/sfield/.gitignore_global
	excludesfile = /Users/sfield/.gitignore_global
	editor = vim
[color]
	ui = true
[format]
	pretty = fuller
[merge]
	conflictstyle = diff3
  tool = vimdiff
[diff]
	renames = copies
  renamelimit = 0
  prompt = false
  tool = vimdiff
[alias]
  taglog = log --pretty=oneline --decorate --tags --no-walk
  uncommit = reset --soft HEAD~1
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
[pager]
	diff = false
	log = false
	tag = false
	branch = false
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
